docs/*
logs/ai_tester.log
.~test_cases.xlsx
.env*
*/.cache
test_case.xlsx
.gitignore
./docs/*
./agent_results
.cache*
src/.DS_Store*
.venv*
# 激活环境Set-ExecutionPolicy -ExecutionPolicy Bypass -Scope Process
#.venv\Scripts\Activate.ps1 